body {
  margin: 0;
  background-image: url('./img/western.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.ImgLocation {
  margin: .5rem;
  padding: .5rem;
}

#buttonContainer:hover {
  color: #0d3017;
  margin: .1rem;
}

#buttonContainer {
  transition: all .5s linear;
  margin: .2rem;
}

h1, p, h4 {
  color: white;
}

.wrong {
  color: #ff9b28;
}