/* .Hangman {
  width: 80%;
  margin-top: 50px;
} */

/* .GuessBoxLocation {
  float: right;
} */

.ImgLocation {
  margin: .5rem;
  padding: .5rem;
}

#buttonContainer:hover {
  color: #0d3017;
  margin: .1rem;
}

#buttonContainer {
  transition: all .5s linear;
  margin: .2rem;
}